<body class="darker">
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dream-load"></div>
    </div>
  </div>

  <!-- ##### Header Area Start ##### -->
  <nav class="navbar navbar-expand-lg navbar-white fixed-top" id="banner">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="#"><span><img src="assets/landing/img/core-img/logo.png" alt="logo"></span> PRIMMAX</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nft">DeFi & NFT</a>
          </li>
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" id="navbardrop" dropdownToggle>Micro Clowdfunding</a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" href="#clowdfunding"><b>PRIMMAX Micro Clowdfunding</b></a>
              <a class="dropdown-item" href="#equityholder">Startup Equity Holder</a>
              <a class="dropdown-item" href="#mining">Crypto Mining</a>
              <a class="dropdown-item" href="#trading">Crypto Trading</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ror">PRIMMAX ROR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq">F.A.Q</a>
          </li>
          
        </ul>
      </div>

    </div>
  </nav>
  <!-- ##### Header Area End ##### -->

  <!-- ##### Welcome Area Start ##### -->
  <section class="hero-section de-3 section-padding" id="home">
    <div class="moving-bg"></div>
    <!-- Hero Content -->
    <div class="hero-section-content">

      <div class="container ">
        <div class="row align-items-center">
          <!-- Welcome Content -->
          <div class="col-12 col-lg-5 col-md-12">
            <div class="welcome-content">
              <div class="promo-section">
                <img src="assets/landing/img/bg-img/logo_b_white.png">
              </div>
              <h3 class="fadeInUp" data-wow-delay="0.2s">Decentralized Community based Micro CrowdFunding and Building
                Program</h3>
              <p class="w-text fadeInUp" data-wow-delay="0.3s">Community based Micro Crowdfunding Evolution </p>
              <div class="dream-btn-group fadeInUp" data-wow-delay="0.4s">
                <a href="assets/landing/doc/primmax_whitepaper.pdf" target="_blank" class="btn more-btn mr-3" >Whitepaper</a>
                <a href="assets/landing/doc/primmax_pitch_deck_en.pdf" target="_blank" class="btn more-btn" >Pitch Deck</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### Welcome Area End ##### -->

  <div class="clearfix"></div>


  <!-- ##### Slogan Area Start ##### -->
  <section class="special fuel-features section-padding-100 clearfix">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-lg-6 offset-lg-0 col-md-12 no-padding-left">
          <div class="welcome-meter fadeInUp mb-30" data-wow-delay="0.7s">
            <img src="assets/landing/img/core-img/primmax_slogan.png" alt="">
          </div>
        </div>
        <div class="col-12 col-lg-6 offset-lg-0">
          <div class="who-we-contant">
            <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s"
              style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <span class="gradient-text blue">Decentralized Micro Crowdfunding and Fund Management Platform created by
                public to public.</span>
            </div>
            <h4 class="fadeInUp" data-wow-delay="0.3s">Together, <br>we are an ocean, <br>we can move a mountain </h4>
          </div>
        </div>
        <a name="about"></a>
      </div>
    </div>
  </section>
  <!-- ##### Slogan Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-0-0 clearfix"
    style="background: linear-gradient(to right, #000046, #1cb5e0); padding-top:30px; ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div class="who-we-contant">
            <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s"
              style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <span class="gradient-text blue">INTRO</span>
            </div>
            <h4 class="fadeInUp" data-wow-delay="0.3s">About PRIMMAX</h4>
            <p class="fadeInUp" data-wow-delay="0.4s" align="justify" style="color: white;">PRIMMAX is decentralized
              micro crowdfunding and fund managements platform founded in early 2021 based in Dubai, founded and manage
              by crypto financial experts, crypto traders, and blockchain developers. We provide support on this program
              to create a sharing and efficient way to improve on current economy system that dilute our
              profits.<br><br>
              PRIMMAX by investing into established and new blockchain based business and projects thru our
              Decentralized Micro Funding program, we had created decentralized way to pooling or share profits up to
              18% per month directly among our community, Thru this system we can provide a safe lower risk environment
              and maximized our profits.<br><br>
              PRIMMAX provide services such as Micro Crowd Funding, and Decentralized Finance (DeFi) based on Binance
              Smart Chain include NFTs issuance by Q2 2022 with lucrative Return Of Rewards (ROR).</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-s">
          <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
            <img src="assets/landing/img/core-img/about-1.png" class="center-block" alt="">
          </div>
        </div>
        <a name="nft"></a>
      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->

  <!-- ##### NFT Area Start ##### -->
  <section class="special fuel-features section-padding-100 clearfix">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-lg-6 offset-lg-0 col-md-12 no-padding-left">
          <div class="welcome-meter fadeInUp mb-30" data-wow-delay="0.7s">
            <img src="assets/landing/img/core-img/nft-1.png" alt="">
          </div>
        </div>
        <div class="col-12 col-lg-6 offset-lg-0">
          <div class="who-we-contant">
            <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s"
              style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            </div>
            <h4 class="fadeInUp" data-wow-delay="0.3s">DeFi & NFT</h4>
            <p class="fadeInUp" data-wow-delay="0.4s" align="justify" style="color: white;">PRIMMAX DeFi takes advantage
              of various technologies developed in the blockchain sphere. Our development included PRIMMAX Blockchain
              serve as distributed ledgers on settlement layer for transactions in BEP20, Digital Assets as tokens
              representing value that can be traded or transferred within BEP20 and ERC20 network, PRIMMAX wallet as
              software interfaces for users to manage and store PRIM whereby user has exclusive control of asset through
              their private keys (non custodial) and private keys are managed by service provide (custodial).<br><br>
              PRIMMAX development of Non Fungible Token and release on Q2 2022 deploy in BEP 721. That allow our
              community to purchase limited NFTs release by PRIMMAX, Each NFT coded with unique metadata that generate
              different of amount of Rewards and these NFTs are traceable in designated exchanges. Once our NFTs release
              community can purchase and start running Return Of Rewards. PRIMMAX NFT is a collectibles item for user to
              boost up their skating return of rewards (ROR) by percentage different nft different ROR percentage.</p>
          </div>
        </div>
        <a name="clowdfunding"></a>
      </div>
    </div>
  </section>
  <!-- ##### NFT Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-0-0 clearfix"
    style="background: linear-gradient(to top right, #fc00ff, #00dbde); padding-top:30px; ">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-lg-6">
          <div class="who-we-contant">
            <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s"
              style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            </div>
            <h4 class="fadeInUp" data-wow-delay="0.3s">PRIMMAX Micro Clowdfunding</h4>
            <p class="fadeInUp" data-wow-delay="0.4s" align="justify" style="color: white;">PRIMMAX smart contract
              ability to keep track of exchanges in a way that’s secure, publicly verified, and virtually impossible to
              use fraudulently. It keeps a record of how ownership changes. This makes it perfect as a platform for
              creating, distributing, and exchanging currency. Soon, the ownership of other assets may emerge on the
              blockchain scene. <br><br>
              PPRIMMAX will change Crowdfunding game with our new structure with blockchain technology on
              decentralization, accessible assets, universal availability, immediate provision, flexible options, and
              peer to peer exchanges.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-s">
          <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
            <img src="assets/landing/img/core-img/clowdfunding.png" class="center-block" alt="">
          </div>
        </div>
        <a name="equityholder"></a>
      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->

  <section class="features section-padding" style="padding-top: 50px;">

    <div class="container">
      <div class="section-heading text-center">
        <!-- Dream Dots -->
        <h2 class="fadeInUp" data-wow-delay="0.3s">Starup Equity Holder</h2>
        <p class="fadeInUp" data-wow-delay="0.4s" style="color: white;">PRIMMAX will invest in potential crypto start up
          projects and hold up to 50% of startup token or coins. This allowed our community to swap PRIM to other start
          up project launch in PRIMMAX to 1000X your assets value.</p>
      </div>
      <a name="mining"></a>
    </div>
  </section>

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-0-0 clearfix"
    style="background: linear-gradient(to right, #000046, #1cb5e0);">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-lg-6">
          <div class="who-we-contant">
            <h4 class="fadeInUp" data-wow-delay="0.3s">Crypto Mining</h4>
            <p class="fadeInUp" data-wow-delay="0.4s" style="color: white;">Some of the fund will be diversify into some
              established mining farm like GENESIS and BitCluster Farms, meanwhile we will setup and run our Green
              Energy and liquid immersion mining farms.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-s">
          <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
            <img src="assets/landing/img/core-img/mining.png" class="center-block" alt="">
          </div>
        </div>
        <a name="trading"></a>
      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->



  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-0-0 clearfix" style="padding-top:30px;">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-lg-6">
          <div class="who-we-contant">
            <h4 class="fadeInUp" data-wow-delay="0.3s">Crypto Trading</h4>
            <p class="fadeInUp" data-wow-delay="0.4s" align="justify" style="color: white;">Our community will fund some
              experts crypto traders and engage with potential bots to generate lucrative income to share among us. We
              only place our funds in Tier 1 exchanges to secure our community investments. PRIMMAX will develop our own
              exchange in future.<br><br>
              PRIMMAX Community can stay calm, earn more money with ease and without any risk and hassle every day is
              Monday.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-s">
          <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
            <img src="assets/landing/img/features/trading.png" class="center-block" alt="">
          </div>
        </div>
        <a name="ror"></a>

      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->


  <!-- ##### ROR Area Start ##### -->
  <section class="special fuel-features section-padding-100 clearfix"
    style="background: linear-gradient(to top right, #fc00ff, #00dbde); padding-top:30px; ">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-lg-6 offset-lg-0 col-md-12 no-padding-left">
          <div class="welcome-meter fadeInUp mb-30" data-wow-delay="0.7s">
            <img src="assets/landing/img/features/ror.png" alt="">
          </div>
        </div>

        <div class="col-12 col-lg-6 offset-lg-0">
          <div class="who-we-contant">
            <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s"
              style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            </div>
            <h4 class="fadeInUp" data-wow-delay="0.3s">PRIMMAX ROR</h4>
            <p class="fadeInUp" data-wow-delay="0.4s" align="justify" style="color: white;">PRIMMAX Return Of Rewards
              (ROR) “Yield Farming” program had become an efficient market with many opportunities to discover high
              return rates compared to traditional methods. That is to say, while cryptocurrency becomes mainstream,
              demand for cryptocurrencybased financial services will go up.<br><br>
              PRIMMAX unlocks earning opportunities to our community equally, with ROR up to 18% per month. To gain more
              profits PRIMMAX will create PRIMMAX NFTs to boost ROR in percentage to shares among community.</p>
          </div>
        </div>
        <a name="faq"></a>
      </div>
    </div>
  </section>
  <!-- ##### ROR Area End ##### -->



  <!-- ##### FAQ & Timeline Area Start ##### -->
  <div class="faq-timeline-area section-padding-0-85" style="padding-top: 30px;">
    <div class="container">
      <div class="section-heading text-center">
        <!-- Dream Dots -->
        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
          <span class="gradient-text blue">QnA</span>
        </div>
        <h2 class="fadeInUp" data-wow-delay="0.3s">Frequently Questions</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-lg-12 col-md-12">
          <div class="dream-faq-area mt-s ">
            <dl style="margin-bottom:0">
              <!-- Single FAQ Area -->
              <dt class="v2 wave fadeInUp question" data-wow-delay="0.2s"
                style="background: linear-gradient(to right, #5dbfed, #0082c8, #0082c8, #5dbfed); padding:10px; border-radius: 6px; margin:5px;">
                What is PRIMMAX?</dt>
              <dd class="fadeInUp" data-wow-delay="0.3s">
                <p>Decentralized Micro Crowdfunding Platform, provide 100% profits and transparency between our
                  community.</p>
              </dd>
              <!-- Single FAQ Area -->
              <dt class="v2 wave fadeInUp" data-wow-delay="0.3s"
                style="background: linear-gradient(to right, #5dbfed, #0082c8, #0082c8, #5dbfed); padding:10px; border-radius: 6px; margin:5px;">
                Why PRIMMAX?</dt>
              <dd>
                <p>To reduce your investment risk, maximized your profits and without hassle.</p>
              </dd>
              <!-- Single FAQ Area -->
              <dt class="v2 wave fadeInUp" data-wow-delay="0.4s"
                style="background: linear-gradient(to right, #5dbfed, #0082c8, #0082c8, #5dbfed); padding:10px; border-radius: 6px; margin:5px;">
                Is PRIMMAX safe?</dt>
              <dd>
                <p>Yes, PRIMMAX run by crypto industry experts, with highly protected blockchain security system.</p>
              </dd>
              <!-- Single FAQ Area -->
              <dt class="v2 wave fadeInUp" data-wow-delay="0.5s"
                style="background: linear-gradient(to right, #5dbfed, #0082c8, #0082c8, #5dbfed); padding:10px; border-radius: 6px; margin:5px;">
                What is PRIMMAX DeFi</dt>
              <dd>
                <p>PRIMMAX DeFi, is provide fully and user friendly decentralized finance products and features to our
                  users.</p>
              </dd>
              <!-- Single FAQ Area -->
              <dt class="v2 wave fadeInUp" data-wow-delay="0.5s"
                style="background: linear-gradient(to right, #5dbfed, #0082c8, #0082c8, #5dbfed); padding:10px; border-radius: 6px; margin:5px;">
                What is PRIMMAX NFT</dt>
              <dd>
                <p>Limited amount of Unique Non Fungible Token NTFs will created to boost PRIMM staking.</p>
              </dd>
              <!-- Single FAQ Area -->
              <dt class="v2 wave fadeInUp" data-wow-delay="0.5s"
                style="background: linear-gradient(to right, #5dbfed, #0082c8, #0082c8, #5dbfed); padding:10px; border-radius: 6px; margin:5px;">
                PRIMMAX token tradable?</dt>
              <dd>
                <p>Yes, we are tradable among our community within platform or OTC, and in Tier 1 exchange etc. Binance…
                </p>
              </dd>
            </dl>
          </div>
        </div>

      </div><br><br>
    </div>
  </div>
  <!-- ##### FAQ & Timeline Area End ##### -->

  <!-- ##### Fund management structure Area Start ##### -->
  <section class="special fuel-features section-padding-100 clearfix"
    style="background: linear-gradient(to top right, #fc00ff, #00dbde); padding-top:30px; ">
    <div class="container">
      <div class="section-heading text-center">
        <!-- Dream Dots -->
        <h2 class="fadeInUp" data-wow-delay="0.3s">PRIMMAX Fund Management structure</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-lg-12 col-md-12" align="center">
          <img src="assets/landing/img/core-img/fund_management_structure.png">
        </div>

      </div>
    </div>
  </section>
  <!-- ##### Fun Management Structure Area End ##### -->

  <!-- ##### Fund management structure Area Start ##### -->
  <section class="special fuel-features section-padding-100 clearfix">
    <div class="container">
      <div class="section-heading text-center">
        <!-- Dream Dots -->
        <h2 class="fadeInUp" data-wow-delay="0.3s">PRIMMAX Eco-System</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-lg-12 col-md-12" align="center">
          <img src="assets/landing/img/core-img/primmax_eco_system.png">
        </div>

      </div>
    </div>
  </section>
  <!-- ##### Fun Management Structure Area End ##### -->
  <!-- ##### Footer Area Start ##### -->
  <table cellpadding="0" cellspacing="0" width="100%" style="background-color: black; height:50px;">
    <tr>
      <td align="left">Copyright &copy; 2021 PRIMMAX. All Rights Reserved.</td>
      <td align="right"><a href="https://www.facebook.com/profile.php?id=100075420224206"><img src="assets/landing/img/ico_fb.png"></a>
        <a href="https://twitter.com/primmax2021"><img src="assets/landing/img/ico_tw.png"></a></td>
    </tr>
  </table>
  <!-- ##### Footer Area End ##### -->

  <!-- ########## All JS ########## -->
  <!-- jQuery js -->
  <script src="./primmax_web/js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="./primmax_web/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="./primmax_web/js/bootstrap.min.js"></script>
  <!-- All Plugins js -->
  <script src="./primmax_web/js/plugins.js"></script>
  <!-- Parallax js -->
  <script src="./primmax_web/js/dzsparallaxer.js"></script>

  <script src="./primmax_web/js/jquery.syotimer.min.js"></script>

  <!-- script js -->
  <script src="./primmax_web/js/script.js"></script>

</body>
