<div class="main-body leftmenu">
  <!-- Page -->
  <div class="page">
    <!-- Sidemenu -->
    <div class="main-sidebar main-sidebar-sticky side-menu">
      <div class="sidemenu-logo">
        <a class="main-logo" href="index.html">
          <img
            src="./assets/img/brand/logo-light.png"
            class="header-brand-img desktop-logo"
            alt="logo"
          />
          <img
            src="./assets/img/brand/icon-light.png"
            class="header-brand-img icon-logo"
            alt="logo"
          />
          <img
            src="./assets/img/brand/logo.png"
            class="header-brand-img desktop-logo theme-logo"
            alt="logo"
          />
          <img
            src="./assets/img/brand/icon.png"
            class="header-brand-img icon-logo theme-logo"
            alt="logo"
          />
        </a>
      </div>
      <div class="main-sidebar-body">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label">Profile</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          
          <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="userbalance()">User Balance</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="kyc()">KYC</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="buyprimm()">BUY PRIMM</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="cryptowalet()">CRYPTO WALLET</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="primmwallet()">PRIMM WALLET</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="staking()">STAKING</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="swap()">SWAP</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="referral()">REFERRAL</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="newsletter()">NEWSLETTER</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="download()">DOWNLOAD</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="support()">SUPPORT</span
              ><i class="angle fe fe-chevron-right"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link with-sub"
              ><span class="shape1"></span><span class="shape2"></span
              ><i class="sidemenu-icon"></i
              ><span class="sidemenu-label" (click)="logout()">logout</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- End Sidemenu -->

    <!-- Main Content-->
    <div class="main-content side-content pt-0">
      <div class="container-fluid">
        <div class="inner-body" *ngIf="!isAdmin">
        </div>

        <div *ngIf="isAdmin">
            <!-- ======= Hero Section ======= -->

        </div>
        <!-- <h1>Comming Soon!!!</h1> -->
        <img src="../../../assets/img/cs.jpg" alt="" style="width: 100%;">
      </div>
    </div>
    <!-- Main Content-->
  </div>
  <!-- End Page -->
</div>
