/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

.form-control {
    padding-right: 12px !important;
}

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
